html, body {
  min-height: 100%;
}

body {
    background: #ffffff;
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/************************************
HEADER
*************************************/

header {
    width: 100%;
    background: #EC7000;
    padding: 5px;
    border-bottom: .4em solid #b15301;
    margin-bottom: 1.95em;
    top: 0;
}
h4 {
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
.wrapper {
    width: 60%;
    margin: 0 auto;

}

.head {
    display: center;
    justify-content: space-around;
    align-items: center;
    margin: .7em auto;
    padding: 10px;
}
header img {    
    padding: .2em;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    
}
header h1, header h2 {
    text-align: center;
    text-shadow: 2px 2px 5px #000; color:#FFF;
}

.main{
  background-color: #eaebec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  flex: 1;
  min-height: calc(100vh - 500px);
}

.asterisk {
  color: #DB2A3A;
  font-weight: bold;
  font-size: 14px;
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  margin: 0px 10px;
  text-align: left;
  margin:auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 650px;
}

main form label:not([for="comm"]) {
  width: 100px;
  text-align: right;
  padding-right: 50px;  
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 0.25rem;
  font-size: 16px !important;
  
  width: 150% !important;
}

main form > div {
  width: auto;
}

main form > div + div {
  margin-left: 1em;
}

main div > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}


main div:first-of-type p:first-of-type, main div:first-of-type p:last-of-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main div:first-of-type p:last-of-type {
  margin: 0px;
}

main form input {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;          
}

main form input:not([type=submit]) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main form input[type=submit] {
  color: white;
  background-color: #004b8c;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
}

main form input[type=submit]:hover {
  cursor: pointer;
  background-color: #EC7000;
}
.mytext{
  min-width: 375px;
  height: 30px; /*ALTERE PARA O TAMANHO DESEJADO*/
  line-height: 20px; /*ALTERE PARA O TAMANHO DESEJADO*/
  font-size: 16px;
}

.dropdown-select {
  min-width: 375px;
  height: 30px; /*ALTERE PARA O TAMANHO DESEJADO*/
  line-height: 20px; /*ALTERE PARA O TAMANHO DESEJADO*/
  font-size: 16px;  
}

main div + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main form input:not([type=reset]) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main form input[type=reset] {
  color: white;
  background-color: #004b8c;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
}

main form input[type=reset]:hover {
  cursor: pointer;
  background-color: #EC7000;
}

main div + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


main div {
  opacity: 75%;
  border: 1px solid #adabab;
  padding: 30px;
  border-radius: 3px;
}

input:required {
  border:1px solid green;
}

input:required:invalid, input:focus:invalid { 
  border:1px solid red;
}
input:required:valid { 
  background: green;
}

#container-msg {
 display: flex;
 justify-content: center;
}

.check-figure {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
   
}

.container-text {
  display: center;
  justify-content: space-around;
  align-items: center;
  margin: .9em auto;
  padding: 15px;
  width: 500px;
  height: 100px;
  text-align: center;
}

.icone{
  width: 80px;
  height: 80px;
}

img {
  width: 40px;
  height: 40px;
}

#footer {     
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #716e75;
  color: #eaebec;
  padding: 30px 0;
}

#footer p, a{
    color: #ffffff;
    text-align: center;
}

/* -- Responsivo -- */

@media (max-width: 600px) {
  main form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main form p {
    display: block;
  }
  main form > div {
    width: auto;
  }
  main form > div + div {
    margin-left: 0;
    margin-bottom: 1em;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  main input {
    width: 100%;
  }
}


.navControls {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}